<%- layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <img class="card-img-top" src="<%= camp.image %>" alt="">
            <div class="card-body">
                <h3 class="card-title"><%=camp.title%></h3>
                <h5 class="card-text mb-2"><%=camp.location%></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%=camp.price%>.00$</h6>
                <p class="card-text"><%= camp.description%></p>
                <div class="d-inline-flex">
                    <a class="card-link btn btn-info text-white" href="/campgrounds/edit/<%= camp._id %>">Edit</a>
                    <form class="mx-3" action="/campgrounds/<%= camp.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger ">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>